* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  background-color: #fbe790;
  overflow: hidden;
  font-family: 'Helvetica';
  scroll-snap-type: mandatory;
}

h1 {
  font-family: 'Impact';
}

.section {
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  scroll-snap-align: center;
}

.graph {
  display: grid;
  place-content: center;
  width: 100%;
}

.table-container {
  display: grid;
  place-content: center;
}

.table-title, .graph-title {
  margin: 50px 0px;
}

table th {
  font-size: 2em;
}

table td {
  font-size: 1.2em;
  width: 50%;
}

.navbar {
  position: fixed;
  top: 50%;
  right: 1.5%;
  transform: translateY(-50%);
  z-index: 2;
}

.nav-button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.521);
  margin: 10px 0px;
}

.active {
  background-color: black;
}